
.navbar-bg {
  background-image: linear-gradient(to right, #8a5a33, #3d3d3d);
}

.p2{
  color: #767676;
}
.ourteamboxparent
{
  position: relative;
}
.ourteambox {
  display: none;
  color: 906E50;
  position: absolute;
  top:65%;
  transform: translateY(10px); /* pushes it 10px below the parent */
  padding: 10px;
  
}
.ourteamboxparent:hover .ourteambox {
  display: block;
}
.scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.mainscroll-container :: ::-webkit-scrollbar{
  display: none;
}
.mainscroll-container {
  height: 100vh;         /* make it a scrollable container if you want container scrolling */
  overflow-y: auto;      /* or overflow: auto / overflow-x: auto for horizontal only */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none;    /* Firefox */
}

/* WebKit browsers */
.mainscroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;      /* helpful if horizontal scroll */
  background: transparent;
}
.hovereff:hover{
 background-color: #8a5a338a;
}