.navbar-bg {
  background-image: linear-gradient(to right, #8a5a33, #3d3d3d);
}
.p2{
  color: #767676;
}
.ourteamboxparent
{
  position: relative;
}
.ourteambox {
  display: none;
  color: 906E50;
  position: absolute;
  top:65%;
  transform: translateY(10px); /* pushes it 10px below the parent */
  padding: 10px;
  
}
.ourteamboxparent:hover .ourteambox {
  display: block;
}
.scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
